<div class="container">

  <div class="row p-md-5">

    <div class="card col-12 p-0 mt-5 m-lg-3">
      <div class="card-header d-flex  justify-content-between d-flex align-items-center">
       {{ name | uppercase }} - {{currentLang | uppercase}}
        <button (click)=changeLang() class="btn btn-primary float-right">{{oppositeLang()}}</button>

      </div>

      <div class="card-body">
        <div *ngIf="status === 'success'" class="alert alert-success" role="alert">
          Contenido actualizado correctamente
        </div>

        <div *ngIf="status === 'postingErr'" class="alert alert-danger" role="alert">
          Error! No se ha podido actualizar el texto
        </div>

        <div *ngIf="status === 'loadingErr'" class="alert alert-danger" role="alert">
          Error! No se ha podido descargar el texto
        </div>


        <form [formGroup]="textForm"  (ngSubmit)="onSubmit()" >
          <div  *ngFor="let lang of langs">

          <p-editor [formControlName]="lang" [style]="{'height':'320px'}" *ngIf="lang === currentLang">
            <p-header>
              <span class="ql-formats">
                <button class="ql-bold" aria-label="Bold"></button>
                <button class="ql-italic" aria-label="Italic"></button>
                <button class="ql-underline" aria-label="Underline"></button>
              </span>
              <span class="ql-formats">
                <button aria-label="Link" class="ql-link"></button>
              </span>
            </p-header>
          </p-editor>
       </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
    </div>
  </div>
