<div class="instagram row">
  <div class="col-lg-2 col-md-4 col-sm-6 col-12">
    <img src="/assets/img/00_home/insta/0.jpg" width="100%" height="auto">
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-12">
    <img src="/assets/img/00_home/insta/1.jpg"  width="100%" height="auto">
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-12">
    <img src="/assets/img/00_home/insta/2.jpg"  width="100%" height="auto">
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-12">
    <img src="/assets/img/00_home/insta/3.jpg"  width="100%" height="auto">
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-12">
    <img src="/assets/img/00_home/insta/4.jpg"  width="100%" height="auto">
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-12">
    <img src="/assets/img/00_home/insta/5.jpg"  width="100%" height="auto">
  </div>
</div>