/*main {
  padding-top: 410px;
  height: 2000px;
  -webkit-transition: padding-top 0.3s;
  -moz-transition: padding-top 0.3s;
  transition: padding-top 0.3s;
}

.main-up{
  padding-top: 300px;
  height: 2000px;
  -webkit-transition: padding-top 0.3s;
  -moz-transition: padding-top 0.3s;
  transition: padding-top 0.3s;
}
*/

