.intro{
  padding: 3em
}

button{
  background-color: #FA413E;
  border: none;
}

h2{
  color: #FA413E;
}
button:hover{
  color: #A22E2A
}

.video{
  padding: 0em;
}

.intro p{
  max-width: 550px;
}

@media screen and (max-width: 1200px) {

  h2{
    font-size: 1.7rem;
  }
  .intro{
    padding: 0.5em;
  }
}



@media screen and (max-width: 992px) {

  h2{
    font-size: 1.3rem;
  }
}
