<app-image-slider></app-image-slider>

  <div class="row">
    <div class="col-sm-6 p-0">
      <app-vimeo [videoId]="482704655"></app-vimeo>
  </div>
    <div class="col-sm-6 intro">
      <h2>¡BIENVENIDX A TRIBAL&FLAMES®!</h2>
      <p><b>Tribal&Flames®</b> (T&F®) es la metodología de danza para el/la malabarista de fuego, el/la flow artist y el/la bailarín/a de tribal fusión bellydance que quiera aprender a bailar con abanicos. Crearemos shows de fuego y leds épicos trabajando estos tres pilares (<b>fire juggling + flow arts + tribal fusion</b>) junto a la técnica de <b>abanicos al estilo Ruso</b> y un <b>lenguaje de combos</b> propio para poder improvisar en tribu o en solo instantáneamente.</p>
      <button class="btn btn-primary">CONOCE MÁS</button>
    </div>
  </div>


<app-aboutribal></app-aboutribal>
<app-courses></app-courses>
<app-crew></app-crew>
<app-shows></app-shows>
<app-discounts></app-discounts>
<app-faq></app-faq>
