.parallax{
  position: relative;
}

.space, .parallax-bg{
  height: 420px;
}

.space{
  background: transparent;
}

.parallax-bg{
  background-color: #FFE5CD;
  z-index: -2;
  position: absolute;
  top: 0;
  width: 100%;
}

.img-parallax{
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  top:200px;
  width: 100%;
  z-index: -1;
}
