.container {
  max-width: 1300px;
  width: 100%;
}


.img-container{
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2em auto;
}


.img-container div{
   padding: 0;
}


.img-container .top-image {
  background-size: cover;
  height: 0;
  padding-bottom: 55.6%;
  width: 100%;
  border: 3px solid white
}


.img-container:first-child {
  border-left: 0px solid white
}

.img-container:last-child {
  border-right: 0px solid white
}