<div class="parallax-bg d-none d-md-flex" #parallax>
  <div class="parallax-img-0"><div class="img" [ngStyle]="{'background-position-y': 320+(offsetY*parallaxSpeed)+'px'}"></div></div>
  <div class="parallax-img-1"><div class="img" [ngStyle]="{'background-position-y': 250+(offsetY*parallaxSpeed)+'px'}"></div></div>
  <div class="parallax-img-2"><div class="img" [ngStyle]="{'background-position-y': 180+(offsetY*parallaxSpeed)+'px'}"></div></div>
</div>


<div class="mbl-parallax d-block d-md-none">
  <div class="mbl-parallax-0"></div>
  <div class="mbl-parallax-1"></div>
  <div class="mbl-parallax-2"></div>
</div>
