.parallax-bg{
  height: 420px;
  background-color: #FFE5CD;
  display: flex;
  justify-content: space-evenly;
  z-index: -5;
  border-color: 5px solid #D73128;
}


.parallax-bg>div{
  width: 33%;
  height: 100%;
}

.parallax-bg .img{
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;

}
.parallax-bg{
  background-repeat: no-repeat;
  background-position-y: 50%;
  width: 100%;
  background-size: 30%;
  display: block;
  position: relative;
}

.parallax-img-0 div{
  background-image: url("/assets/img/00_home/parallax/0.png");
  background-position-x: 5%;

}

.parallax-img-1 div {
  background-image: url("/assets/img/00_home/parallax/1.png");
  background-position-x: 50%;

}
.parallax-img-2 div{
  background-image: url("/assets/img/00_home/parallax/2.png");
  background-position-x: 95%;

}



@media screen and (max-width: 1200px) {

  .parallax-bg{
    height: 200px;
  }
}

@media screen and (max-width: 900px) {

  .parallax-bg{
    height: 150px;
  }

}

@media screen and (max-width: 768px) {

  .parallax-bg{
    height: 150px;
  }

}

