/* You can add global styles to this file, and also import other style files */
*{
  outline: none !important;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}


@font-face {
  font-family: Rubik;
  src: url("/assets/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: Bebas;
  src: url("/assets/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}
