<div class="row about">
  <div class="col-md-6 anna piece">
    <h2>NUESTRA PROFESORA</h2>
    <h3>Anna de Mas</h3>
    <button class="button-anna">CONOCER A ANNA</button>
  </div>
  <div class="col-md-6 crew piece">
    <h2>NUESTRXS ALUMNXS</h2>
    <h3><div>Cada Promoción de alumnxs
      forma parte de la T&F Crew.
      ¡Y tú también puedes!</div></h3>
    <button class="button-crew">CONOCER A LA CREW</button>
  </div>
</div>

<div class="shows col-12 piece">
<div id="video2"></div>
</div>

<div class="fans col-12 piece">

</div>
