.about div{
  height: 28vw;

}

.piece{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.anna{
  background-image: url("/assets/img/00_home/about/anna.jpg");
}

.crew{
  background-image: url("/assets/img/00_home/about/crew.jpg");

}


.shows{
  background-image: url("/assets/img/00_home/about/shows.jpg");
  height: 28vw;
}


.fans{
  background-image: url("/assets/img/00_home/about/fans.jpg");
  height: 36vw;
}

h2{
  color: white;
  font-family: 'Bebas Neue Regular', cursive;
  font-size: 52px;
  text-align: right;
  line-height: 0.5em;
  margin-bottom: 0;
  margin-right: 40px;
  margin-top: 40px;
}

h3{
  font-family: "Century Schoolbook", cursive, serif;
  font-style: italic;
  color: white;
  text-align: right;
  font-size: 20px;
  padding-top: 5px;
  margin-right: 40px;
  position: relative;
  right: 0;
}

h3 div{
  max-width: 240px;
  display: inline-block;
}


button{
  background-color: #FA413E;
  position: absolute;
  left:0;
  right: 0;
  margin:auto;
  bottom:30px
}

button:hover{
  background-color: #A22E2A;
}



@media screen and (max-width: 768px) {
  .about div{
    height: 56.2vw;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


@media screen and (max-width: 1600px) {
  h2{
    font-size: 40px;
  }

  h3{
    font-size: 15px;
  }
}

@media screen and (max-width: 1300px) {
  h2{
    margin-right: 10px;
    margin-top: 15px;

  }

  h3{
    margin-right: 10px;
  }
}
@media screen and (max-width: 1050px) {
    h2{
      font-size: 30px;
    }
}
@media screen and (max-width: 768px) {
  h2{
    font-size: 40px;
  }
}

@media screen and (max-width: 400px) {
  h2{
    font-size: 25px;
  }
}
