<div class="row about">
  <div class="col-md-6 anna piece">
    <h2>NUESTRA PROFESORAA</h2>
    <h3>Anna de Mas</h3>
    <button class="button-anna">CONOCER A ANNA</button>
  </div>
  <div class="col-md-6 crew piece">
    <h2>NUESTRXS ALUMNXS</h2>
    <h3>Cada Promoción de alumnxs<br>
      forma parte de la T&F Crew.<br>
      ¡Y tú también puedes!</h3>
    <button class="button-crew">CONOCER A LA CREW</button>
  </div>
</div>

<div class="shows col-12 piece">
  <div id="video2"></div>
  <h2>¿QUIERES VER NUESTROS <span class="accent">SHOWS</span>?</h2>
  <p>Todos han sido estudiados en clase durante el curso regular.<br>
    ¡Tú también puedes formar parte de ellos!</p>
  <button class="button-shows">VER MÁS</button>
  <div class="play" (click)="onClick()"><img *ngIf="!videoPlaying" src="/assets/img/shared/play.png"></div>
</div>

<div class="fans col-12 piece">
  <h2>¿NO TIENES ABANICOS?</h2>
  <p>Te contamos como construirte unos de ensayo en tu casa<br>
    y te ofrecemos un descuento en los Lotus Fire Fans de LuSolShop</p>
  <button class="button-fans">VER MÁS</button>
</div>
